.buy{
    border-style: solid;
    position: relative;
    width: 300px;
    background-color:darkslategray;
    text-align: center;
    margin:0 auto;
    padding: 20px;
}

.buy:hover{
    border-color: white;
    transition: 2s;
}