.navigation {
    display: flex;
    flex-direction: column;
    background-color: #2E2E2E;
    height: 250px;
    width: 200px;
    position: fixed;
    right:0;
    opacity: 0.8;
    float: center;
    position: absolute;
    padding: 10px;
}

.link{
    padding-top:5px;
    height:30px;
    color: #FFF;
    text-align:center;
}

.link:hover{
    text-decoration: none;
    color: rgb(145, 87, 252);
    font-weight: 3000;
    transition:1s;
    background-color:rgb(34, 34, 34);
}

.externalLinkWrapper{
    height:30px;
    color: #FFF;
    text-align:center;
}

.externalLink{
    color: #FFF;
    padding:10px;
}

.externalLink:hover{
    text-decoration: none;
    color: rgb(145, 87, 252);
    font-weight: 3000;
    transition:1s;
}