.galleryContainer{
    position: absolute;
    float: center;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
}

.cardInfo{
    width: 100%;
    text-align: center;
    color: #FFF;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nextImage{
    border-style: solid;
    position: relative;
    width: 200px;
    background-color:darkslategray;
    text-align: center;
    margin:0 auto;
    padding: 10px;
}

.nextImage:hover{
    border-color: #FFF;
    color: #FFF;
    transition: 2s;
}

.inputContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchAddress{
    width: 500px;
    margin-bottom: 5px;
}